/* タブレット向けレイアウト */
@media (max-width: 1000px) {}

/* スマホ向けレイアウト */
@media (max-width: 670px) {
  header {
    /* 下記の説明　単位重要 */
    min-height: 60vh;

    background:none;
  }

  /*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 0px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  /* 下記の説明　文字の色を指定してあげているからhtmlで<i></i>の中に文字を入力してあげる(今回は文字コードを指定している) */
  color: red;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #555;
}
.menu__item{
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(100vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}

  .header-logo-img {
    height: 30px;
  }

  .header-list {
    /* 下記の説明　ヘッダーリストを見えなくする */
    display: none;
  }

.header-img-block{

  /* 下記の説明　ブロック要素で表示させるよ */
  display: block;
}

.header-img{
  /* 下記の説明　widthで横幅を指定してあげないとはみ出しちゃうよ */
  width: 100%;
}

  .header-font-co-creation {
    font-size: 30px;
  }

  .header-font {
    text-align: left;
    /* 下記の説明　hederを固定する時に無駄な余白を削除できた */
    padding-top: 0%;
    margin-left: 3%;
  }

  .header-font p {
    font-size: 20px;
  }

  .items-hr {
    margin-left: 3%;
    width: 10%;
  }

  .realhomepage {
    text-align: left;
    margin-right: 3%;
    margin-left: 3%;
  }

  .mission {
    text-align: left;
    margin-right: 3%;
    margin-left: 3%;
  }

  .ourservice {
    margin-right: 3%;
    margin-left: 3%;
  }

  .ourservice-font {
    text-align: left;
  }

  .mainservice {
    display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
  }

  .mainservice-img {
    width: 100%;
    height: 400px;
  }

  .mainservice-font {}

  .otherservice {
    display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
    justify-content: center;
    /* 下記の説明　PC版で指定してあげているのを0にしてあげよう */
    padding-right: 0;
    padding-left: 0;
  }

  .otherservice-font {
    order: 2;
  }

  .otherservice-img {
    order: 1;
    width: 100%;
    height: 400px;
  }

  .entry {
    width: 60%;
  }

  .about-font {
    text-align: left;
  }

  .about-img {
    width: 90%;
    height: auto;
  }

  .member {
    text-align: left;
    margin-left: 3%;
  }

  .member-img-layout {
    text-align: center;
  }

  .member-img {
    width: 50%;
    height: auto;
  }

  .member-name-hr {
    margin-left: 3%;
    width: 5%;
  }

  .portfolio {
    margin-right: 3%;
    margin-left: 3%;
  }

  .uranai {
    #ffaaaa display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
    justify-content: center;
  }

  .rakugaki {
    display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
    justify-content: center;
  }

  .rakugaki-font-layout {
    /* 下記の説明　並び順の変更 */
    order: 2;
    padding-left: 100px;
  }

  .rakugaki-video-layout {
    /* 下記の説明　並び順の変更 */
    order: 1;
  }

  .stopwatch {
    display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
    justify-content: center;
  }

  .jannkenn {
    display: flex;
    /* 下記の説明　折り返して表示する */
    flex-wrap: wrap;
    justify-content: center;
  }

  .jankenn-font-layout {
    order: 2;
    padding-left: 100px;
  }

  .jankenn-video-layout {
    order: 1;
  }

  video {
    width: 100%;
    height: 500px;
  }

  .clubactivities {
    text-align: left;
    margin-right: 3%;
    margin-left: 3%;
  }

  .clubactivities img {
    width: 100%;
    height: 200px;
  }

  .access {
    text-align: left;
    padding-top: 200px;
    margin-right: 3%;
    margin-left: 3%;
  }

  .map-font {
    text-align: left;
    padding-top: 10px;
    padding-left: 0;
  }

  .news {
    text-align: left;
    margin-right: 3%;
    margin-left: 3%;
  }

}
