* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  min-height: 40vh;
  background: none;
  background-image: url("./entry_img/catch_form.jpg");
  background-size: cover;
  width: 100%;
  /* 下記の説明　ブロックの内側に余白を作るよ */
  margin-top: 5%;
}

.career-items {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.career-items-font-second {
  background-color: #EEEEEE;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.medium-item {}

.medium-item-fast {
  display: flex;
  justify-content: center;
}

.medium-item-font-fast {
  width: 50%;
}

.medium-item-second {
  display: flex;
  justify-content: center;
}

.medium-item-font-second {
  width: 50%;
}

.medium-item-third {
  display: flex;
  justify-content: center;
}

.medium-item-font-third {
  width: 50%;
}

.medium-item-forth {
  display: flex;
  justify-content: center;
}

.medium-item-font-forth {
  width: 50%;
  margin-right: 20%;
}

.service-items {
  text-align: left;
  margin-left:15%;
  margin-right:15%;
  margin-top: 15%;
}

.service-items-hr {
  width: 5%;
  /* 下記の説明　ボーダーラインの位置の変更 */
  margin-left: 3%;
}

.service-items-table {
  /* 下記の説明　中央寄席にできない */
  text-align: center;
}

.service-items-table-layout {
  /* 下記の説明　斜線で囲む処理 */
  border-collapse: collapse;
  width: 60%;
  /* 下記の説明　table自体が中央寄席になる */
  margin: 0 auto;
}

/* 下記の説明　tableも入れてあげないと一番下の線が消えないよ */
table, th, td {
  /* 線の種類 太さ 色 */
  /* border: solid 1px #333; */
  border: none;
}

.service-items-table-font {
  width: 20%;
  text-align: left;
}

.service-items-table-input {
  width: 70%;
  text-align: left;
}

.service-items-table-input-name{
  width: 30%;
  height: 30px;
}

.service-items-table-input-m{
  width: 50%;
  height: 30px;
}

.service-items-table-input-tell{
    width: 40%;
    height: 30px;
}

.submitbtn-layout{
  text-align: center;
  margin: 3% 0;
}

.submitbtn{
  height: 30px;
}
